@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Welcome eStore</h1>
</div>
<h2 class="display-6">Introduction</h2>
<div>This application support adding, viewing, modifying, and removing
products—a standardized usage action verbs better known as Create, Read,
Update, Delete (CRUD) and Search. This assignment explores creating an
application using Windows Forms with .NET Core, C#, and ADO.NET / Entity
Framework. An MS SQL Server database will be created to persist the data and it
will be used for reading and managing data.</div>
